/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
*{
    box-sizing: border-box;
}

 @import "compass/reset";

 /* Variables */

 $full-width: 100%;
 $li: 25%;
 $float: left;
 $tbl-heading-size: 36px;
 $white: #fff;
 $td: 10px;
 $center-align: center;

 /* End of Variables */

 /* Mixins */

@mixin body-base-styles(){
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
	background: #43cea2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

@mixin border-l-r(){
	border-bottom: 2px solid #F62459;
}

@mixin shadow(){
	-webkit-box-shadow: 0px 9px 30px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 30px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 30px -6px rgba(0,0,0,0.75);
}

/* End of Mixins */

/* CSS Styling */

body{
    @include body-base-styles();
}

table{
	font-size: 1.25em;
	width: $full-width;
	background: $white;
	height: 80vh;
	@include shadow();
}

thead{

    background-color: black;
    color: white;
}

tr{
    @include border-l-r();


}

th{
    text-align: center;
}

td{
    text-align: center;
    line-height: 100px !important;
}

nav{
    width: 100%;
    text-align: center;
    background-color: #fff;
    overflow: auto;
    position: fixed;
    z-index: 100;
}

nav a{
    text-decoration: none;
    line-height: 50px;
    font-size: 2em;
    margin-right: 20px;
    clear: both;
    margin-top: 20px;
    width: 100%;
    transition: background 0.5s;
}

nav a:hover{
	background-color: #000;
	color: white;
	text-decoration: none;
}

.navbar-header{
	width: 100%;
	background: black;

}

.nav-brand{
	text-align: center;
	color: white;
}

.navbar-right{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}

h1{
    font-size: $tbl-heading-size;
    color: white;
}

.container{
    width: 80%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.navbar-right{
    margin-right: 0;
}

.col-md-4 {
    width: 100% !important;
}

.panel-default{
	border-color: #F62459;
	@include shadow();
}

.panel-default>.panel-heading {
    color: white;
    background-color: black;
    border-color: white;
}

.panel-heading{
	font-size: 1.25em;
	font-weight: bold;
}