/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* End of Variables */
/* Mixins */
/* End of Mixins */
/* CSS Styling */
/* line 50, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43cea2, #185a9d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43cea2, #185a9d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* line 54, ../sass/screen.scss */
table {
  font-size: 1.25em;
  width: 100%;
  background: #fff;
  height: 80vh;
  -webkit-box-shadow: 0px 9px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 30px -6px rgba(0, 0, 0, 0.75);
}

/* line 62, ../sass/screen.scss */
thead {
  background-color: black;
  color: white;
}

/* line 68, ../sass/screen.scss */
tr {
  border-bottom: 2px solid #F62459;
}

/* line 74, ../sass/screen.scss */
th {
  text-align: center;
}

/* line 78, ../sass/screen.scss */
td {
  text-align: center;
  line-height: 100px !important;
}

/* line 83, ../sass/screen.scss */
nav {
  width: 100%;
  text-align: center;
  background-color: #fff;
  overflow: auto;
  position: fixed;
  z-index: 100;
}

/* line 92, ../sass/screen.scss */
nav a {
  text-decoration: none;
  line-height: 50px;
  font-size: 2em;
  margin-right: 20px;
  clear: both;
  margin-top: 20px;
  width: 100%;
  transition: background 0.5s;
}

/* line 103, ../sass/screen.scss */
nav a:hover {
  background-color: #000;
  color: white;
  text-decoration: none;
}

/* line 109, ../sass/screen.scss */
.navbar-header {
  width: 100%;
  background: black;
}

/* line 115, ../sass/screen.scss */
.nav-brand {
  text-align: center;
  color: white;
}

/* line 120, ../sass/screen.scss */
.navbar-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
}

/* line 127, ../sass/screen.scss */
h1 {
  font-size: 36px;
  color: white;
}

/* line 132, ../sass/screen.scss */
.container {
  width: 80%;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* line 138, ../sass/screen.scss */
.navbar-right {
  margin-right: 0;
}

/* line 142, ../sass/screen.scss */
.col-md-4 {
  width: 100% !important;
}

/* line 146, ../sass/screen.scss */
.panel-default {
  border-color: #F62459;
  -webkit-box-shadow: 0px 9px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 30px -6px rgba(0, 0, 0, 0.75);
}

/* line 151, ../sass/screen.scss */
.panel-default > .panel-heading {
  color: white;
  background-color: black;
  border-color: white;
}

/* line 157, ../sass/screen.scss */
.panel-heading {
  font-size: 1.25em;
  font-weight: bold;
}
